body {
  background-color: #2f1b1a;
  margin: auto;
}
#navbar {
  background-color: #533262;
  height: 80px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
#main-container {
  background-color: #d1d8e8;
  height: 300px;
  margin-bottom: 15px;
}
.boxes {
  background-color: #d1d8e8;
  height: 250px;
  width: calc((100% / 3) - 34px);
  float: left;
  margin-bottom: 15px;
}
.m-r {
  margin-right: 20px;
}
.m-l {
  margin-left: 1px;
}
div {
  padding: 10px;
}
#main-container h1 {
  text-decoration: underline;
}
.left,
.h1 {
  float: left;
  align-self: center;
  display: flex;
}
.right {
  float: right;
  align-self: center;
}
.left img {
  height: 70px;
  margin-right: 8px;
}
.left h1 {
  display: inline;
  color: white;
}
.right a {
  color: white;
  padding-right: 10px;
}
@media screen and (max-width: 750px) {
  .right a {
    display: none;
  }
  #navbar {
    height: auto;
    width: 100%;
    padding: 10px;
  }
  #main-container {
    height: auto;
    width: 100%;
    padding: 10px;
  }
  .boxes {
    height: auto;
    width: 100%;
    padding: 10px;
  }
}
@media screen and (min-width: 751px) and (max-width: 1024px) {
  .right a {
    display: none;
  }
  #navbar {
    height: auto;
    width: 100%;
    padding: 10px;
  }
  #main-container {
    height: auto;
    width: 100%;
    padding: 10px;
  }
  .boxes {
    height: auto;
    width: 100%;
    padding: 10px;
  }
}
