body {
  background-color: white;
  margin: 0 auto;
}
#navbar {
  background-color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
#logo-container {
  float: left;
  width: 1900px;
  padding: 15px;
  justify-content: flex-start;
  display: flex;
}
#logo-container img {
  height: 60px;
  margin-right: 15px;
}
#logo-container h2 {
  display: inline-block;
  color: #ccc;
}
#profile-container {
  width: auto;
  float: right;
}
#profile-container > img {
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}
.main {
  height: calc(100vh - 81px);
}
#sidebar {
  background-color: white;
  height: 150%;
  width: 150px;
  float: left;
  border-right: 1px solid black;
}
#container > h2 {
  color: black;
  margin: 0 0 15px 0;
  font-weight: normal;
  text-decoration: underline;
}
#container {
  padding: 15px;
  float: left;
  width: calc(100vw - 200px);
}
#sidebar nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 30px 30px 30px;
}
#sidebar nav a {
  color: black;
  padding: 5px;
  text-decoration: none;
}

#sidebar nav a:first-child {
  padding-top: 0;
}
#sidebar nav a.active {
  text-decoration: none;
  color: #0ace82;
}
button {
  float: right;
  width: -1px;
  height: 30px;
  background-color: #0ace82;
  color: white;
  border: 0px solid;
  margin: -40px 5px 0 0;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
}
table {
  width: 100%;
}
.name{
margin: 20px;
padding: auto;
  display: flex;
}
.mobile{
  margin: 20px;
  display: flex;
}
.branch{
  margin: 20px;
  display: flex;
}
input[type=text]{
  padding: 5px;
  margin-left: 8px;
  margin-bottom: 10px ;
}
