body {
  background-color: white;
  margin: 0 auto;
}
#navbar {
  background-color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #555;
}
#logo-container {
  float: left;
  width: 1900px;
  padding: 15px;
  justify-content: flex-start;
  display: flex;
}
#logo-container img {
  height: 60px;
  margin-right: 15px;
}
#logo-container h2 {
  display: inline-block;
  color: #ccc;
}
#profile-container {
  width: auto;
  float: right;
}
#profile-container > img {
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}
.main {
  height: calc(100vh - 81px);
}
#sidebar {
  background-color: white;
  height: 150%;
  width: 150px;
  float: left;
  border-right: 1px solid #555;
}
#container > h2 {
  color: black;
  margin: 0 0 15px 0;
  font-weight: normal;
  text-decoration: underline;
  
}
.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#container {
  padding: 15px;
  float: left;
  width: calc(100vw - 200px);
  
}
#sidebar nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 30px 30px 30px;
}
#sidebar nav a {
  color: #555;
  padding: 5px;
  text-decoration: none;
}
nav img,
nav i {
  height: 25px;
  margin-right: 15px;
}
nav i {
  vertical-align: middle;
  line-height: 27px !important;
  color: aqua;
}
#sidebar nav a:first-child {
  padding-top: 0;
}
#sidebar nav a.active {
  text-decoration: none;
  color: #0ace82;
}
.link-btn{
  background-color: #3cb989;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 30px;
}

.flex {
  display: flex;
  align-items: center;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
}
table {
  width: 100%;
}
@media screen and (max-width: 750px) {
  .main {
    height: auto;
    padding: 10px;
    flex-direction: column;
    overflow: scroll;
  }

  #sidebar {
    display: none;
  }
  .container {
    width: 100%;
  }
  .table th,
  .table td {
    display: block;
    width: 100%;
  }
  .table {
    display: block;
    width: 100%;
    overflow: auto;
  }
  .link-btn{
    float: right;
    margin-right: -150px;

  }


  
  
}
